body {
 margin: 0;
}
ul, li {
    margin: 0;
    padding: 0;
    list-style: 0;
}
.page {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#paginaLogin {
    display: none;
    background-color: #fff;
    
}
#loginNameInput {
    border: 2px solid #000;
    background-color: #ccc;
    font-size: 18px;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    outline: 0;
    width: 100%;
    max-width: 300px;
}

#paginaChat {
    display: flex;
}
.chatArea {
    flex: 1;
    width: 100%;
    max-width: 300px;
    display: flex;
    background-color: #ccc;

}

.chatInput{
    width: 100%;
    display: flex;
}
#chatTextInput {
    flex: 1;
    height: 40px;
    padding: 0 10px;
    font-size: 15px;
    background-color: azure;
    outline: 0;
    border: 0;
}