body {
 margin: 0;
}
ul, li {
    margin: 0;
    padding: 0;
    list-style: 0;
}
.page {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#paginaLogin {
    display: flex;
    background-color: #fff;
    
}
#loginNameInput {
    border: 2px solid #000;
    background-color: #ccc;
    font-size: 18px;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    outline: 0;
    width: 100%;
    max-width: 300px;
}

#paginaChat {
    display: none;
}
.chatArea {
    flex: 1;
    width: 100%;
    display: flex;
    background-color: #FFF;
}
.chatList {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    padding: 10px;
}
.chatList li {
    padding: 3px;
    font-size: 15px;
}
.chatList li.m-status{
    color: #333;
    font-style: italic;
}
.chatList li.m-text span{
    color: #000FFF;
    font-weight: bold;
}
.chatList li.m-text span.eumesmo{
    color: #43ae95;
    font-style: bold;
}
.userList {
    width: 200px;
    background-color: #CCC;
    overflow-y: scroll;
    max-height: calc(100vh - 40px);
}
.userList li {
    padding: 5px;
    border-bottom: 1px solid #000;
}

.chatInput{
    width: 100%;
    display: flex;
}
#chatTextInput {
    flex: 1;
    height: 40px;
    padding: 0 10px;
    font-size: 15px;
    background-color: azure;
    outline: 0;
    border: 0;
}